.jumbotron h1 {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size:400%;
}

.header h3 {
    font-family: 'Oleo Script Swash Caps', cursive;
}

/*
.marketing {
    padding-left: 100px;
}
*/

/* jumbotron background animation */

.jumbotron {
    padding-top:10px;
    padding-bottom:60px;

/*
    background-image:url('/static/img/running_00.png');
    background-position: 5% 95%;
*/

    background-image:url('/static/img/running_00.png'), url('/static/img/airplane_00.png');
    background-position: 5% 95%, 50% 95%;

    background-repeat: no-repeat, no-repeat;
    background-size: 2.5%, 30%;

    animation: myanim 4s linear 0s infinite  normal;
    -moz-animation: myanim 4s linear 0s infinite  normal;
    -webkit-animation: myanim 4s linear 0s infinite  normal;
}

/*
#results_table a.toggled-off {
    color: #333333;
    background-color: #ffffff;
}

#results_table a.toggled-off:hover {
    color: #ffffff;
    background-color: #428bca;
}

#results_table a.toggled-on {
    color:#333333;
    background-color:#ebebeb;
}
*/

#results_table a.toggled-on {
    color: #ffffff;
    background-color: #3276b1;
}

#results_table a.toggled-on:hover {
    color: #ffffff;
    background-color: #428bca;
}

#results_table_body {
    text-align:left;
}

#flightform_go {
    margin-top:19px;
}

.popover {
    max-width: 400px;
    width: auto;
}

.popover ol li {
    font-size:75%;
}

.popover ol {
    margin-bottom:0;
}

#my_contact ul {
    width:100%;
}

#my_contact span {
    float:right;
    font-size:100%;
    border-color: #46b8da;
}

#my_contact span a {
    color:#ffffff;
}

#my_contact span a:hover {
    text-decoration: none;   
}

#my_contact span:hover {
    background-color: #39b3d7;
    border-color: #269abc;
}

#my_contact span[disabled]:hover {
    background-color: #5bc0de;
    border-color: #46b8da;
}
