#results_table {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 12pt;
	width: 100%;
	text-align: left;
}
#results_table thead tr th, #results_table tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 12pt;
	padding: 4px;
}
#results_table thead tr .header {
	background-image: url(/static/img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
#results_table tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: middle;
}
#results_table tbody td i.icon-plane {
        font-size:150%;
}
#results_table tbody td.delay_probability {
        text-align: center;
}
#results_table tbody tr.odd td {
	background-color:#F0F0F6;
}
#results_table thead tr .headerSortUp {
	background-image: url(/static/img/asc.gif);
}
#results_table thead tr .headerSortDown {
	background-image: url(/static/img/desc.gif);
}
#results_table thead tr .headerSortDown, #results_table thead tr .headerSortUp {
background-color: #8dbdd8;
}
