# emacs ~ files #
#################
*~

# data/RITA directory #
#######################
data/RITA

# .csv files #
##############
*.csv

# ipynb checkpoints #
#####################
*/.ipynb_checkpoints/

# emacs stuff #
###############
*~
#*#

# python stuff #
################
*.pyc
*.pkl

# webpage/bootstrap #
#####################
webpage/bootstrap-3.0.0
