# emacs ~ files #
#################
*~

# data/RITA directory #
#######################
data/RITA

# .csv files #
##############
*.csv

# ipynb checkpoints #
#####################
*/.ipynb_checkpoints/
