# data/ directory #
###################
data/

# ipynb checkpoints #
#####################
*/.ipynb_checkpoints/

# emacs stuff #
###############
*~
#*#

# python stuff #
################
*.pyc
*.pkl

# webpage/bootstrap #
#####################
webpage/bootstrap-3.0.0
