<!DOCTYPE html>

{% extends "base.html" %}
{% block content %}
    
    <div class="page-header">
      <h1>The modeling behind <span style="font-family: 'Oleo Script Swash Caps', cursive;">Delay Me Not!</span></h1>
      <!-- <p class="lead"> snoo </p> -->
    </div>

    <div class="row">

      <div class="col-md-12"> <h3>The Data</h3> </div>

      <div class="col-md-2"></div>
      <div class="col-md-10">
        The bulk of the data used in this project comes from the U.S. Department of Transportation's <i>Research and Innovation in Transportation Association</i> <a href=""></a>. A list and description of all available data fields can be viewed <a href="http://www.transtats.bts.gov/Fields.asp?Table_ID=236">here</a>.
      </div>
        

      <div class="col-md-12"> <h3>The Modeling & Analysis</h3> </div>

      <div class="col-md-2"></div>
      <div class="col-md-10">
        python, pandas, scikit-learn
      </div>
        

      <div class="col-md-12"> <h3>The Front End</h3> </div>

      <div class="col-md-2"></div>
      <div class="col-md-10">
        twitter-bootstrap, jquery, flask, nginx
      </div>

    </div>



{% endblock %}


