<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
<!--    <link rel="shortcut icon" href="/static/img/favicon.png"> -->

    {% if title %}
    <title>Delay Me Not! - {{title}}</title>
    {% else %}
    <title>Delay Me Not!</title>
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom template styles -->
    {% if title %}
    <link href="/static/css/jumbotron-wide.css" rel="stylesheet">
    {% else %}
    <link href="/static/css/jumbotron-narrow.css" rel="stylesheet">
    {% endif %}

    <link href="/static/css/grid.css" rel="stylesheet">

    <!-- font-awesome fonts -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/static/css/results_table.css" type="text/css">

    <link rel="stylesheet" href="/static/css/typeahead-bootstrap.css" type="text/css">

    <link rel="stylesheet" href="/static/css/datepicker.css" type="text/css">
      
    <!-- Custom styles from mqk -->
    <link href="/static/css/animation.css" rel="stylesheet">
    <link href="/static/css/mqk.css" rel="stylesheet">


    <!-- JavaScript -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <script src="/static/js/jquery.tablesorter.min.js"></script>

    <script src="/static/js/typeahead.min.js"></script>

    <script src="/static/js/bootstrap-datepicker.js"></script>

    <script src="/static/js/custom_tablesort.js"></script>
    <script src="/static/js/my_scripts.js"></script>



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="slides">Slides</a></li>
        </ul>
        <h3 class="text-muted">Delay Me Not!</h3>
      </div>

      
      {% block content %}{% endblock %}
      
      <div class="footer">
        <p>&copy; Mike Kuhlen, Insight Data Science 2013C</p>
      </div>

    </div> <!-- /container -->

  </body>
</html>
