<!DOCTYPE html>

{% extends "base.html" %}
{% block content %}
    
    <iframe src="http://www.slideshare.net/slideshow/embed_code/26288574?rel=0" width="597" height="486" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe>

    <div style="margin-bottom:5px">
      <strong> <a href="https://www.slideshare.net/kuhlen/presentation-26288574" title="Delay Me Not!" target="_blank">Delay Me Not!</a> </strong> from <strong><a href="http://www.slideshare.net/kuhlen" target="_blank">kuhlen</a></strong>
    </div>

{% endblock %}


