<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
<!--    <link rel="shortcut icon" href="/static/img/favicon.png"> -->

    <title>test</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <p> dsahdjkhsdhsa </p>

    ajdkladkladkajdkjakdjd
    <button rel="tooltip" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>

    <a href="#" rel="tooltip" data-toggle="tooltip" title="first tooltip">Hover over me</a>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/tooltip.js"></script>

    <script> $("button").tooltip(); </script>
  </body>
</html>

